body {
    background-image:C:\Users\malko\Milestone-Project2-Sonic\sonic-snacks\public\images\chilidogsonic.png;
    background-size:cover;
    background-position: center;
    background-color:white;
}